// Microsoft Visual C++ 生成的资源脚本。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// 从 TEXTINCLUDE 2 资源生成。
//
#ifndef APSTUDIO_INVOKED
#endif
#include "afxres.h"
#include "verrsrc.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 中文(简体，中国) 资源

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)\r\n"
    "LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED\r\n"
    "#include ""res\\QHEngineUI.rc2""\r\n"
    "#endif\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_QHENGINEUI_DIALOG DIALOGEX 0, 0, 340, 215
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_APPWINDOW
CAPTION "QHEngine - 磁盘保护"
FONT 9, "微软雅黑"
BEGIN
    LTEXT           "选择要保护的磁盘卷：",IDC_LABEL_TITLE,12,12,316,10
    CONTROL         "",IDC_VOLUME_LIST,"ListBox",LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_MULTIPLESEL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP | WS_BORDER,12,26,316,103
    PUSHBUTTON      "开启保护",IDC_BTN_ENABLE,57,141,105,26
    PUSHBUTTON      "关闭保护",IDC_BTN_DISABLE,178,141,105,26
    LTEXT           "",IDC_STATUS,12,174,316,12
    CONTROL         "技术交流 / 反馈 / 讨论：<a href=""https://www.52pojie.cn"">吾爱破解论坛</a>",IDC_LINK_52POJIE,"SysLink",WS_TABSTOP,12,194,316,12
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_QHENGINEUI_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 12
        RIGHTMARGIN, 328
        TOPMARGIN, 12
        BOTTOMMARGIN, 206
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Custom Resources - 嵌入驱动文件
//

IDR_DRIVER_SYS     RCDATA  "resources\\SysRestoreDriver.sys"
IDR_DRIVER_INF     RCDATA  "resources\\SysRestoreDriver.inf"

#endif    // 中文(简体，中国) 资源
/////////////////////////////////////////////////////////////////////////////
